body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f4f8;
}

header {
    background-color: #1e3a8a;
    color: white;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #2563eb;
    padding: 10px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

section {
    padding: 60px;
    margin: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}

h2 {
    color: #1e3a8a;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #1e3a8a;
    color: white;
}
.boton-contenedor {
    text-align: center;
    margin: 30px 0;
}

button {
    padding: 12px 25px;
    font-size: 16px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #1e3a8a;
}
section img {
    display: block;
    margin: 20px auto;
    max-width: 500px;
    width: 100%;
    border-radius: 8px;
}